.days {
  display: flex;
}

.day:first-child {
  color: rgb(201, 21, 21);
}
.day:last-child {
  color: rgb(0, 85, 255);
}

.day {
  flex-basis: 100px;
  text-align: center;
}

.calendar-row {
  display: flex;
  margin-bottom: 1rem;
}

.calendar-row:first-child {
  margin-top: 1rem;
}

.calendar-row:last-child {
  margin-bottom: 1.5rem;
}
