.date {
  margin-bottom: 5px;
  color: gray;
  text-align: center;
  flex-grow: 1;
  flex-basis: 5px;
  margin: 0.2rem;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}

.checked-date {
  background-color: rgb(18, 76, 159);
  color: white;
  border-radius: 10px;
}

.today {
  color: rgb(59, 243, 182);
}

.invalid-date:hover {
  transform: none;
}
