h1,
h2 {
  margin: 1rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.add-item-button {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  margin-right: 2rem;
}
