h1,
h2 {
  margin: 1rem;
  text-align: center;
}
.header {
  text-align: center;
}

.add-item-button {
  border: none;
  background-color: rgb(29, 64, 147);
  font-size: 1.5rem;
  border-radius: 10px;
  color: aliceblue;
}

/* .header > * {
  display: inline;
} */
